<div class="container-fluid url-shortener d-flex flex-column align-items-center">
  <h3 class="title mb-3">輸入想要縮短的網址：</h3>
  <form class="d-flex flex-row">
    <div class="mb-3 me-3 url-input">
      <input type="email" class="form-control mb-3" placeholder="https://example...">
      <div class="d-flex align-items-center">
        <span class="result">短網址：</span>
        <span class="result">https://herokuapp.com/6y7UP</span>
        <button class="btn-copy ms-3">複製</button>
      </div>
    </div>
    <div class="d-flex flex-column">
      <button type="submit" class="btn btn-confirm mb-3">確定</button>
    </div>
  </form>
</div>