html,
body {
  background: #FCEED0;
  margin: 0px;
  color: #324259;
}

.navbar {
  background: #F2A383;
}

.box {
  outline: 1px solid black;
}

.form-control {
  width: 95%;
  border: 2px solid #324259;
}

.form-control:focus {
  border: 2px solid #F2A383;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.url-input {
  width: 80%;
}

::placeholder {
  color: #C9C9C9;
}

.result {
  color: #F2A383;
  font-size: 14px;
}

.btn-copy {
  border: none;
  border-radius: 8px;
  width: 60px;
  height: 25px;
  color: #676767;
  font-size: 12px;
  font-weight: 500;
}

.btn-copy:hover {
  background-color: #676767;
  color: #ffffff;
}

.btn-confirm {
  background: #FCEED0;
  border: 2px solid #324259;
  font-weight: 500;
}

.btn-confirm:hover {
  background: fixed #F2A383;
  color: white;
  border: 2px solid #324259;
  font-weight: 500;
}


@media (max-width: 700px) {
  .url-shortener {
    width: 90%;
    margin: 60px auto;
    height: 380px;
    background: #FFFFFF;
    border: 2px solid #324259;
    border-radius: 8px;
  }

  .title {
    margin-top: 50px;
  }

  form {
    width: 90%;
  }

  .confirm-block {
    width: 30%;
  }

  .url-input {
    width: 70%;
  }

  .short-url-block {
    width: 280px;
  }
}

@media(min-width: 700px) {
  .url-shortener {
    width: 50%;
    margin: 100px auto;
    height: 380px;
    background: #FFFFFF;
    border: 2px solid #324259;
    border-radius: 8px;
  }

  .title {
    margin-top: 100px;
  }

  form {
    width: 80%;
  }

  .confirm-block {
    width: 20%;
  }
}